*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

img, picture, video, iframe, figure{
max-width: 100%;
width: 100%;
display: block;
/*opcional*/
object-fit: cover;
object-position: center center;
}

/*Reseteo para enlaces */
a{
    display: block;
}

p a {
    display: inline;
}

li{
    list-style-type: none;
}

html{
    scroll-behavior: smooth;
}

h1, h2, h3, h4, p, span, a , strong {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

/*configuración de texto seleccionado */

::selection{
    background-color: black;
    color: #fff;
}

/*configuración de problemas de tipografías y colocación de formularios */

form, input, textarea, select, button,label {
    font-family: inherit;
    font-size: inherit;
    hyphens: auto;
    background-color: transparent;
    display: block;
    color: inherit;
}

/*problemas con los svg */
svg{
    width: 100%;
    display: block;
    fill: currentColor;
}

/*Configuración de la tipografía para toda la web */ 

body {
    min-height: 100vh;
    font-size: 100%;
    background-image: url('./src/fondo-1500x1500.png'); 
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 1em;   
    text-align: center;
    
}
.container__img {
    width: 100%;
    height: 300px;
  }

.bg_heart{position:relative;top: -354px;;left:0;width:100%;height:100%;overflow:hidden}

.heart{position:absolute;top:-50%;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-m-transform:rotate(-45deg);transform:rotate(-45deg)}
.heart:before{position:absolute;top:-50%;left:0;display:block;content:"";width:100%;height:100%;background:inherit;border-radius:100%;}
.heart:after{position:absolute;top:0;right:-50%;display:block;content:"";width:100%;height:100%;background:inherit;border-radius:100%;}

@-webkit-keyframes love {
  0%{top:110%}
}
@-moz-keyframes love {
  0%{top:110%}
}
@-ms-keyframes love {
  0%{top:110%}
}
@keyframes love {
  0%{top:110%}
}


.img__home{
    margin: auto;
    height: 20em;
    width: auto;
}


.birthday__title{
    font-size: 3em;
    color:  #74706f ;
}

.birthday__subtitle{
    font-size: 1.5em;
    color:  #a9a6a2 ;
    font-weight: bold;
}
.birthday__name{
    font-size: 3.5em;
    color:  #81391d ;
    letter-spacing: .2em;

}


/* <!-- SECTION PLACE, DAY AND TIME --> */
.data__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5em;
}

.data__date, .data__time{
    font-size: 1.5em;
    color: #74706f;
}

.data__time{
    margin-top: .5em;
}

.data__location, .data__arrive{
    font-size: 1.5em;
    color: #74706f;
    margin: .5em;
}
.data__arrive{
  margin-top: 1.1em;
}
.data__direction{
    font-size: 1.2em;
    color: #74706f;
    margin-top: -.5em;
}

.map{
    width: 250px;
    height: 250px;
    box-shadow: 3px 5px 15px rgba(0,0,0,0.9);
}

.button {
    display: inline-block;
    padding: 12px 30px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    border: none;
    color: #fff;
    background-color:#74706f;
    box-shadow: 3px 5px 15px rgba(0,0,0,0.9);
    transition: all 0.3s ease;
    margin-bottom: 1.6em;
  }
  
  .button:hover {
    background-color: #555;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    transform: scale(1.1);
  }


  <!-- /* SECTION MESSAGES */ -->

  form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  h2 {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  /*SECTION DEDICATION */

  .dedication__container, .asist__container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 2em;
    margin-bottom: 1em;
  }
  
  .dedication__title, .asist__title{
    font-size: 1.5em;
    color:  #81391d ;
    font-weight: 550;
  }

    .dedication__name,
    .dedication__msg,
    .asist__name,
    .asist_question,
    .asist__coments {
      font-size: 1em;
      font-weight: bolder;
      color: #74706f;
      margin-top: .5em;
    }
.asist__option{
  color: #a9a6a2;
  font-weight: bold;
}
.asist__icon-container{
  position: relative;
  width: 90px;
}
.asist__icon-mask{
  position: absolute;
  height: 88px;
  bottom: .1em;
  left: -160%;
}
  input[type="submit"] {   
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    background-color:#74706f ; 
    box-shadow: 3px 5px 15px rgba(0,0,0,0.9);
    transition: all 0.5s ease ;
  }

  .dedication__icon-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    position: relative;
  }
  .dedication__icon{
    position: absolute;
    width: 50px;  
    top: -60px;  
  }

  
  input[type="submit"]:hover {
    background-color: #555;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    transform: scale(1.1);
  }
  
  @media screen and (max-width: 600px) {
    input[type="text"],
    input[type="number"],
    textarea {
      width: 100%;
    }
  }

  
/* SECTION CONFIRMATION */

form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  h2 {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  select option[value=""] {
    color: #aaa;
  }
  
  /*SECTION FOOTER */
  .footer {
    font-family: 'Edu NSW ACT Foundation', cursive;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
  }
  
  .footer-title {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-icons {
    display: flex;
    justify-content: center;
  }
  
  .footer-icons a {
    display: inline-block;
    margin: 0 20px;
    color: #fff;
    font-size: 1.6em;
    transition: all 0.2s ease-in-out;
  }

  .footer-icons a:hover{
    color: var(--primary);
    text-shadow: 0px 0px 8px #ffffffda;
    transform: scale(1.02);
  }
  

  
  @media screen and (max-width: 600px) {
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select,
    textarea {
      width: 100%;
    }
  }
  
  

  
  
